# SCRAPING USING API

In [1]:
#

In [2]:
import requests


url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 52.52,
	"longitude": 13.41
}

response = requests.get(url, params=params)
response.raise_for_status()

# Raw JSON data
data = response.json()
print(data)  # print only first 1

{'latitude': 52.52, 'longitude': 13.419998, 'generationtime_ms': 0.0008344650268554688, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 38.0}

In [3]:

params = {
    "latitude": 51.52,
	"longitude": 1.41,
	"hourly": "temperature_2m"	
}

response = requests.get(url, params=params)
response.raise_for_status()

# Raw JSON data
data2 = response.json()
print(data2)

{'latitude': 51.52, 'longitude': 1.4199996, 'generationtime_ms': 0.033855438232421875, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 0.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': 'Â°C'}, 'hourly': {'time': ['2025-09-15T00:00', '2025-09-15T01:00', '2025-09-15T02:00', '2025-09-15T03:00', '2025-09-15T04:00', '2025-09-15T05:00', '2025-09-15T06:00', '2025-09-15T07:00', '2025-09-15T08:00', '2025-09-15T09:00', '2025-09-15T10:00', '2025-09-15T11:00', '2025-09-15T12:00', '2025-09-15T13:00', '2025-09-15T14:00', '2025-09-15T15:00', '2025-09-15T16:00', '2025-09-15T17:00', '2025-09-15T18:00', '2025-09-15T19:00', '2025-09-15T20:00', '2025-09-15T21:00', '2025-09-15T22:00', '2025-09-15T23:00', '2025-09-16T00:00', '2025-09-16T01:00', '2025-09-16T02:00', '2025-09-16T03:00', '2025-09-16T04:00', '2025-09-16T05:00', '2025-09-16T06:00', '2025-09-16T07:00', '2025-09-16T08:00', '2025-09-16T09:00', '2025-09-16T10:00', '2025-09-16T11:00', '2025-09-16T12:00', '2025-09-16T13:00', '2025-09-16T14:00', '2025-09-16T15:00', '2025-09-16T16:00', '2025-09-16T17:00', '2025-09-16T18:00', '2025-09-16T19:00', '2025-09-16T20:00', '2025-09-16T21:00', '2025-09-16T22:00', '2025-09-16T23:00', '2025-09-17T00:00', '2025-09-17T01:00', '2025-09-17T02:00', '2025-09-17T03:00', '2025-09-17T04:00', '2025-09-17T05:00', '2025-09-17T06:00', '2025-09-17T07:00', '2025-09-17T08:00', '2025-09-17T09:00', '2025-09-17T10:00', '2025-09-17T11:00', '2025-09-17T12:00', '2025-09-17T13:00', '2025-09-17T14:00', '2025-09-17T15:00', '2025-09-17T16:00', '2025-09-17T17:00', '2025-09-17T18:00', '2025-09-17T19:00', '2025-09-17T20:00', '2025-09-17T21:00', '2025-09-17T22:00', '2025-09-17T23:00', '2025-09-18T00:00', '2025-09-18T01:00', '2025-09-18T02:00', '2025-09-18T03:00', '2025-09-18T04:00', '2025-09-18T05:00', '2025-09-18T06:00', '2025-09-18T07:00', '2025-09-18T08:00', '2025-09-18T09:00', '2025-09-18T10:00', '2025-09-18T11:00', '2025-09-18T12:00', '2025-09-18T13:00', '2025-09-18T14:00', '2025-09-18T15:00', '2025-09-18T16:00', '2025-09-18T17:00', '2025-09-18T18:00', '2025-09-18T19:00', '2025-09-18T20:00', '2025-09-18T21:00', '2025-09-18T22:00', '2025-09-18T23:00', '2025-09-19T00:00', '2025-09-19T01:00', '2025-09-19T02:00', '2025-09-19T03:00', '2025-09-19T04:00', '2025-09-19T05:00', '2025-09-19T06:00', '2025-09-19T07:00', '2025-09-19T08:00', '2025-09-19T09:00', '2025-09-19T10:00', '2025-09-19T11:00', '2025-09-19T12:00', '2025-09-19T13:00', '2025-09-19T14:00', '2025-09-19T15:00', '2025-09-19T16:00', '2025-09-19T17:00', '2025-09-19T18:00', '2025-09-19T19:00', '2025-09-19T20:00', '2025-09-19T21:00', '2025-09-19T22:00', '2025-09-19T23:00', '2025-09-20T00:00', '2025-09-20T01:00', '2025-09-20T02:00', '2025-09-20T03:00', '2025-09-20T04:00', '2025-09-20T05:00', '2025-09-20T06:00', '2025-09-20T07:00', '2025-09-20T08:00', '2025-09-20T09:00', '2025-09-20T10:00', '2025-09-20T11:00', '2025-09-20T12:00', '2025-09-20T13:00', '2025-09-20T14:00', '2025-09-20T15:00', '2025-09-20T16:00', '2025-09-20T17:00', '2025-09-20T18:00', '2025-09-20T19:00', '2025-09-20T20:00', '2025-09-20T21:00', '2025-09-20T22:00', '2025-09-20T23:00', '2025-09-21T00:00', '2025-09-21T01:00', '2025-09-21T02:00', '2025-09-21T03:00', '2025-09-21T04:00', '2025-09-21T05:00', '2025-09-21T06:00', '2025-09-21T07:00', '2025-09-21T08:00', '2025-09-21T09:00', '2025-09-21T10:00', '2025-09-21T11:00', '2025-09-21T12:00', '2025-09-21T13:00', '2025-09-21T14:00', '2025-09-21T15:00', '2025-09-21T16:00', '2025-09-21T17:00', '2025-09-21T18:00', '2025-09-21T19:00', '2025-09-21T20:00', '2025-09-21T21:00', '2025-09-21T22:00', '2025-09-21T23:00'], 'temperature_2m': [17.8, 17.3, 17.2, 16.9, 16.5, 16.2, 16.2, 16.2, 16.4, 16.7, 17.1, 17.5, 17.9, 18.0, 18.0, 18.0, 18.0, 17.7, 17.5, 17.2, 16.8, 16.4, 16.1, 15.9, 15.6, 15.4, 15.2, 15.0, 14.9, 14.9, 14.8, 14.6, 14.8, 15.1, 15.4, 15.9, 16.7, 16.8, 17.2, 17.5, 17.8, 18.0, 17.6, 17.1, 16.6, 16.3, 16.1, 15.9, 15.6, 15.2, 14.9, 14.9, 15.3, 15.6, 15.7, 16.2, 16.7, 16.9, 17.1, 17.5, 17.8, 18.2, 18.5, 18.6, 18.8, 19.0, 18.9, 18.9, 18.7, 18.5, 18.2, 17.9, 17.5, 17.2, 16.9, 16.8, 16.6, 16.5, 16.6, 16.9, 17.4, 18.0, 19.4, 19.8, 20.0, 20.2, 20.4, 20.3, 20.0, 19.7, 19.3, 18.9, 18.5, 18.2, 18.0, 17.9, 17.8, 17.6, 17.6, 17.6, 17.6, 17.7, 17.9, 18.0, 18.2, 18.5, 18.9, 19.3, 19.6, 19.9, 20.1, 20.2, 20.3, 20.3, 20.2, 20.1, 19.9, 19.6, 19.5, 19.2, 19.1, 18.9, 18.7, 18.5, 18.3, 18.1, 18.0, 19.2, 19.2, 19.3, 19.7, 20.2, 20.6, 20.7, 20.7, 20.6, 20.6, 20.5, 20.4, 20.0, 19.5, 19.1, 18.8, 18.6, 18.5, 18.4, 18.5, 18.5, 18.7, 18.9, 19.0, 18.9, 18.8, 18.9, 19.5, 20.4, 20.9, 20.8, 20.4, 19.9, 19.6, 19.2, 19.0, 18.6, 18.2, 17.9, 17.6, 17.5]}}

In [4]:
params = {
    "latitude": 11.52,
	"longitude": 31.41,
    "&current_weather": "true",
	
}

response = requests.get(url, params=params)
response.raise_for_status()

# Raw JSON data
data3 = response.json()
print(data3)

{'latitude': 11.625, 'longitude': 31.25, 'generationtime_ms': 0.00095367431640625, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 703.0}

In [5]:
params = {
    "latitude": 11.52,
	"longitude": 31.41,
    "&forecaste_days" : 3,

}

response = requests.get(url, params=params)
response.raise_for_status()

# Raw JSON data
data4 = response.json()
print(data4)

{'latitude': 11.625, 'longitude': 31.25, 'generationtime_ms': 0.0010728836059570312, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 703.0}

In [6]:
params = {
    "latitude": 11.52,
	"longitude": 31.41,
    "&forecaste_days" : 3,
    "&timezone" : "Europe/Berlin"
	
}

response = requests.get(url, params=params)
response.raise_for_status()

# Raw JSON data
data5 = response.json()
print(data5)

{'latitude': 11.625, 'longitude': 31.25, 'generationtime_ms': 0.00095367431640625, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 703.0}

In [7]:
columns= [
    "latitude",
    "longitude",
    "generationtime_ms",
    "utc_offset_seconds",
    'timezone',
    'timezone_abbreviation',
    'elevation'
]

In [8]:
import pandas as pd

In [11]:
df = pd.DataFrame(columns = columns, data = [data, data2, data3, data4, data5])

In [12]:
df

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation
0,52.520,13.419998,0.000834,0,GMT,GMT,38.0
1,51.520,1.420000,0.033855,0,GMT,GMT,0.0
2,11.625,31.250000,0.000954,0,GMT,GMT,703.0
3,11.625,31.250000,0.001073,0,GMT,GMT,703.0
4,11.625,31.250000,0.000954,0,GMT,GMT,703.0